html{
    font-size: 62.25%;
}

body{
    font-family: 'Roboto';
    background-color: #1a1c30;
    color: #f0f0f0;
    font-size: 1.4rem;
    padding: 1.6rem;

    overflow-y: scroll;

    max-width: 90rem;
    margin: 0 auto;
}


*:focus {
    outline: none;
}

summary::-webkit-details-marker{
    display: none;
}

p{
    cursor: pointer;
    margin-top: 0;
    font-weight: 700;
    letter-spacing: 0.1rem;

    border: 0.1rem solid #E84545;
    padding: 1.5rem;

}
p:hover{
    background-color: #E84545;
}

details details p{
    margin-left: 3rem;
}

ol{
    list-style-position: inside;
    padding: 0;
    margin: 0;
}

ol li{
    margin: 1.5rem 0;
    padding-left: 3rem;
}

ol li:hover{
    background-color: #E84545;
}    

a{
    padding-left: 1.5rem;
    color: white;
    text-decoration: none;
}