html{
    font-size: 62.25%;
    height: 100%;
}

body{
    font-family: 'Roboto';
    background-color: #1a1c30;
    color: #f0f0f0;
    font-size: 1.4rem;

    overflow-y: scroll;

    min-height: 91.5%;
    position:relative; 
    padding-bottom: 11rem;
}

*{
    transition: color 0.15s ease-out, 
                background-color  0.15s ease-out;
}

*:focus {
    outline: none;
}

nav div{
    float: left;
    width: 25%;
    height: 0.2rem;
    opacity: 0.25;
}

nav .special-tag{
    background-color: rgb(159, 69, 232);
}
nav .favorite-tag{
    background-color:  rgb(232, 199, 69);
}
nav .resent-tag{
    background-color:  rgb(69, 232, 96);
}
nav .old-tag{
    background-color:  rgb(69, 153, 232);
} 

.wrapper{
    padding: 3.6rem;
    max-width: 90rem;
    margin: 0 auto;
}


.widget-links{
    display: none;
    overflow: hidden;
    opacity: 0;
}

.opened:before{
    transform: rotate(-90deg);
}


p{
    cursor: pointer;
    margin-top:0;
    margin-bottom: 0;

    font-weight: 700;
    letter-spacing: 0.1rem;

    text-transform: uppercase;

    /* border-bottom: 0.1rem solid #E84545; */
    
    padding: 1.5rem;
}

p:before{
    display: inline-block;
    content: "|";
    color: rgb(231, 68, 68);
    margin-right: 1.5rem;

    transform-origin: 10% center;
    transform: rotate(15deg);

    transition: transform 0.15s ease; 
}

p:hover{
    color: rgb(231, 68, 68);
}

p:hover:before{
    /* box-shadow: 0 0 1.5rem rgba(231, 68, 68,0.25); */
}

h2{
    display: inline-block;
    width: 10rem;

    font-size: 1.2rem;
    font-weight: 400;
    font-style: italic;
    margin-left: 2rem; 
    padding-top: 1rem; 
    padding-bottom: 1rem; 
    
    color: rgba(255,255,255,0.75);
    border-bottom: 0.1rem solid rgb(231, 68, 68);
}

.widget-category .widget-category p{
    margin-left: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    text-transform: lowercase;
}

ol{
    list-style-position: inside;
    padding: 0;
    margin: 0;
}

ol li{
    margin: 1.5rem 0;
    padding-left: 4rem;
    line-height: 1.8;
}

.widget-category .widget-category ol li{
    padding-left: 7rem;
}

a{
    padding: 0.25rem 1.5rem;
    color: rgba(255,255,255,0.25);
    text-decoration: none;
    position: relative;
}
a:hover{
    color: rgba(255,255,255,1);
}

.rus:after{
    content: "rus";
    position: absolute;
    padding:0 0.5rem; 

    font-size: 1.1rem;
    line-height: 1;
    

    /* height: 50%; */
    /* margin: auto; */
    margin-left: 2rem;

    /* top: 0;   */
    bottom: 0; 


    background: rgba(231, 68, 68,0.5);
    color: white;
}

.special{
    color: white;
    border: 1px solid rgb(159, 69, 232);
}
.special:hover{
    background-color: rgb(159, 69, 232);
}

.favorite{
    color: white;
    border: 1px solid rgb(232, 199, 69);
}
.favorite:hover{
    color: black;
    background-color:  rgb(232, 199, 69);
}

.resent{
    color: white;
    border: 1px solid rgb(69, 232, 96);
}
.resent:hover{
    color: black;
    background-color:  rgb(69, 232, 96);
}

.old{
    color: white;
    border: 1px solid rgb(69, 153, 232);
}
.old:hover{
    color: black;
    background-color:  rgb(69, 153, 232);
}

footer{
    position: absolute;
    left: 0; right: 0; bottom: 0;
    background-color: #141626;
    height: 11rem;
    width: 100%;
    text-align: center;
}

footer a{
    display: block;
    padding-top: 1rem; 
}

footer .octicon{
    padding-top: 1.5rem; 
    width: 5rem;
    height: 5rem;
}