html{
    font-size: 62.25%;
}

body{
    font-family: 'Roboto';
    background-color: #1a1c30;
    color: white;
    /* white-space: pre; */

    font-size: 1.4rem;

    padding: 1.6rem;
}

*:focus {
    outline: none;
}

summary::-webkit-details-marker{
    display: none;
}

p{
    cursor: pointer;

    margin-top: 0;
    /* color: #E84545; */
    font-weight: 700;
    letter-spacing: 0.1rem;

    border: 0.1rem solid #E84545;
    border-radius: 0.5rem;
    padding: 1.5rem;

    /* background-color:#E84545; */
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li{
    margin: 1.5rem 0;
}

a{
    padding-left: 3rem;
    color: white;
    text-decoration: none;
}