html{
    font-size: 62.25%;
    height: 100%;
}

body{
    font-family: 'Roboto';
    background-color: #1a1c30;
    color: #f0f0f0;
    font-size: 1.4rem;

    overflow-y: scroll;
}

*{
    transition: all 0.15s ease-out;
}

*:focus {
    outline: none;
}

.wrapper{
    padding: 3.6rem;
    max-width: 90rem;
    margin: 0 auto;
}

summary::-webkit-details-marker{
    display: none;
}

details[open] > summary > p:before{
    transform: rotate(-90deg);
}

p{
    cursor: pointer;
    margin-top: 0;
    font-weight: 700;
    letter-spacing: 0.1rem;

    /* border-bottom: 0.1rem solid #E84545; */
    
    padding: 1.5rem;
}

p:before{
    display: inline-block;
    content: "|";
    color: rgb(231, 68, 68);
    margin-right: 1.5rem;

    transform-origin: 10% center;
    transform: rotate(15deg);

    transition: transform 0.15s ease; 
}

p:hover{
    color: rgb(231, 68, 68);
}

p:hover:before{
    /* box-shadow: 0 0 1.5rem rgba(231, 68, 68,0.25); */
}

details details p{
    margin-left: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

ol{
    list-style-position: inside;
    padding: 0;
    margin: 0;
}

ol li{
    margin: 1.5rem 0;
    padding-left: 4rem;
}

details details ol li{
    padding-left: 7rem;
}

a{
    padding: 0.25rem 1.5rem;
    color: rgba(255,255,255,0.25);
    text-decoration: none;
}
a:hover{
    color: rgba(255,255,255,1);
}

.special{
    color: white;
    border: 1px solid rgb(159, 69, 232);
}
.special:hover{
    background-color: rgb(159, 69, 232);
}

.favorite{
    color: white;
    border: 1px solid rgb(232, 199, 69);
}
.favorite:hover{
    color: black;
    background-color:  rgb(232, 199, 69);
}

.resent{
    color: white;
    border: 1px solid rgb(69, 232, 96);
}
.resent:hover{
    color: black;
    background-color:  rgb(69, 232, 96);
}

.old{
    color: white;
    border: 1px solid rgb(69, 153, 232);
}
.old:hover{
    color: black;
    background-color:  rgb(69, 153, 232);
}

footer{
    position: relative;
    bottom: 0;
    background-color: #141626;
    height: 11rem;
    width: 100%;
    text-align: center;
    margin-top: 1.5rem;
    
}

footer a{
    display: block;
    padding-top: 1rem; 
}

footer .octicon{
    padding-top: 1.5rem; 
    display: block;
    margin: 0 auto;
    width: 5rem;
    height: 5rem;
}